{% extends 'base.html.twig' %}

{% block title %}{{ 'adminOrders.title'|trans }}{% endblock %}

{% block body %}
    <h1 class="text-white">{{ 'adminOrders.title'|trans }}</h1>
    <hr class="hr" />
    <div class="d-flex gap-3 flex-column">
        {% include "_components/adminnav.html.twig" %}
        <div class="bg-body-tertiary p-1 rounded w-100">
            <table class="table m-0 table-striped align-middle">
                <thead>
                    <tr>
                        <th>{{'adminOrders.orderDate'|trans}}</th>
                        <th>{{'adminOrders.buyer'|trans}}</th>
                        <th>{{'adminOrders.product'|trans}}</th>
                        <th>{{'adminOrders.quantity'|trans}}</th>
                        <th>Total</th>
                        <th>Reference</th>
                        <th>CRUD</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                        {% for detail in order.orderDetails %}
                            <tr>
                                <td>{{ order.createdAt|date('d/m/Y H:i') }}</td>
                                <td>{{ order.user.email }}</td>
                                <td>{{ detail.product.name }}</td>
                                <td>{{ detail.quantity }}</td>
                                <td>₹{{ detail.price * detail.quantity }}</td>
                                <td>{{ order.orderTag }}</td>
                               <td>
                                <a class="btn btn-outline-primary" href="{{ path('admin_category_edit', {id: category.id}) }}">{{ 'update'|trans }}</a>
                            </td>
                            <td>
                                <a class="btn btn-outline-danger" href="{{ path('admin_category_delete', {id: category.id}) }}" onclick="return confirm('{{ 'Are you sure?'|trans }}')">{{ 'delete'|trans }}</a>
                            </td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
